RUST_BACKTRACE=1
RUST_LOG=debug

# If AWS S3 / DDB are used as an output format
# AWS_PROFILE=xxx

# If Honeycomb is used for tracing
# HONEYCOMB_API_KEY=xxx
# HONEYCOMB_DATA_SET=dev

# If Jaegar is used for tracing
# OTEL_EXPORTER=http://localhost:4317